<p id="notice"><%= notice %></p>

<p>
  <strong>Contenet:</strong>
  <%= @review.contenet %>
</p>

<p>
  <strong>Taring:</strong>
  <%= @review.taring %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
